body {
  margin: 0;
  background: #333333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.large-area , ._11RoI{
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #aaaaaa;
  background: #444444;
  border: none;
  border-radius: 10px;
  resize: none;
  font-family: monospace;
  transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
  background: #4a4a4a;
}

.large-area:focus {
  color: #eeeeee;
}

.controls__button {
  padding: 8px 14px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #009578;
  color: #ffffff;
  font-weight: bold;
}

.controls__button:active {
  background: #00705a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #4d5056;
  width: 8px;
  height: 139px;
}

.footersection {
  float: right;
  padding: 0px 20px;
  color: #ffffff;
  font-family: monospace;
}

.navbar-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.navbar-item a {
  color: #ffffff;
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
}

.navbar-item {
  padding: 5px 10px;
}

.navbar-item:hover {
  background-color: #4d5056;
  border-radius: 6px;
  padding: 5px 10px;
}